body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  color: aqua;
}

.container {
  background-color: #444;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

input[type="number"],
select,
input[type="radio"],
input[type="checkbox"] {
  padding: 8px;
  width: 100%;           
  margin-top: 5px;
  border: 1px solid #888; 
  background-color: #555; 
  color: #fff;            
}

button {
  padding: 8px 15px;
  background-color: #00FFFF; 
  color: #333;               
  border: 1px solid #888;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 20px auto 0;
}

button:hover {
  background-color: #00b3b3;
}

strong {
  font-size: 18px;
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: normal;
}

input[type="radio"] {
  margin-right: 10px;
}

.hidden {
  visibility: hidden; 
  opacity: 0;         
}

#type1-options,
#type2-properties {
  visibility: hidden;
  opacity: 0;
}

#type2-options {
  visibility: visible;
  opacity: 1;
}

#type3-properties {
  visibility: visible;
  opacity: 1;
}
